body{

font-family:Arial,sans-serif ;
margin:0;
padding:0;
background-color: #f4f4f4;
display: flex;
justify-content: center;
height: 100vh;

}

header{

    background-color: #f4f9ff;
    padding:20px 0;
    border-bottom:1px solid #ddd;
    width:100%;

}


.container{


width:88%;
margin: 0 auto;
text-align:center;
display: flex;
justify-content: center;

}


.profile{

    display: flex;
    align-items: center;
    text-align: left;



}

.profile img{

width:150px;
height:150px;
border-radius: 50%;
border: 5px solid #fff;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
margin-right: 40px ;
}

.profile-info {
max-width: 600px;

}


.profile-info h1{
font-size:2.5em;
margin: 0;
font-weight: 750;
}



.profile-info p {

    color:#555;
    font-size:1em;
    line-height: 1.6;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;

}




